@{
    var currentAction = ViewContext.RouteData.Values["action"].ToString();
    var currentController = ViewContext.RouteData.Values["controller"].ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/Home.css" />
</head>
<body>
    <div class="layout">
        <div class="header">
            <header class="hero">
                <h1>Efficient Document Management</h1>
                <p>Store, share, and manage your documents seamlessly.</p>
                @if (currentAction != "Index")
                {
                    <a class="@(currentAction == "Index" && currentController == "Home" ? "btn btn-lg btn-light" : "btn btn-lg btn-outline-light")" href="@Url.Action("Index", "Home")">Home</a>
                }
                @if (currentAction != "Login")
                {
                    <a class="@(currentAction == "Login" && currentController == "Home" ? "btn btn-lg btn-light" : "btn btn-lg btn-outline-light")" href="@Url.Action("Login", "Home")">Login</a>
                }
                @if (currentAction != "Register")
                {
                    <a class="@(currentAction == "Register" && currentController == "Home" ? "btn btn-lg btn-light" : "btn btn-lg btn-outline-light")" href="@Url.Action("Register", "Home")">Register</a>
                }
                </header>
        </div>
        <div class="content">
            <main>
                <section class="py-5">
                    <div class="container">
                        @RenderBody()
                    </div>
                </section>
            </main>
        </div>
        <div class="footer">
            <footer class="text-center">
                <p>&copy; 2024 Document Management System. All Rights Reserved.</p>
            </footer>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.5.1.slim.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
